$categories: (
 ionic: color($colors, primary),
 caution: #d50000,
 favour: #9ccc65,
 health: #ff6e40,
 peace: #81c784,
 protection: #b0bec5,
 success: #ff80ab,
 wealth: #2196f3,
 documentation: #B16BE3,
 navigation: #6600CC,
);
                          
@function auxiliary-categories() {
  @return map-remove($categories);
}


page-booster {
  @each $color, $value in auxiliary-categories() {
   ion-item-sliding[color=#{$color}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
