page-home {
	ion-content {
		
		text-align:center;
		background: url('../assets/img/home_bg.jpg');

		img.logo{
		
		margin-top:4.5rem;
		}

		h5{
		color:#fafafa !important;
		}

		.btn_continue{
		position:relative;
		margin-top:100%;
		border-color:#fafafa;
		color:#fafafa;
		}
	}

}
