.page-map {
background-color: #fafafa;
}

.map{
  background-color: #fafafa;
  background-image: url('../assets/img/map.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;

}

.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}



